$backgroundColor: teal;
$textColor: rgb(24, 21, 21);

// * {
//     // border: 1px solid black;
// }

#resume {
    height: 1200px;
}

.project-row {
    width: 450px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        width: 120px;
        min-width: 106px;
    }


}

.row-buttons {
    display: flex;
    width: 50%;
    min-width: 280px;
    justify-content: space-between;
}

.button {
    // display: block;
    width: 115px;
    min-width: 100px;
    height: 25px;
    background: #71949c;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: $textColor;
    // font-weight: bold;
    line-height: 25px;

    &:hover {
        background: #4d686e;

    }

}

.sidebar img {
    max-width: 90%;
    margin: 10px 10px 10px 10px;
    // padding: 10px 10px 10px 10px;

 
}

#root {
    height: 100%
}

html,
body {
    margin: 0 0 0 0;
    color: $textColor;
    background-color: $backgroundColor;
    height: 100%;
    width: 100%;
    overflow: auto;
}

a {
    display: block;
    // margin-top: 20px;
    color: rgb(0, 34, 34);
}

.contentSections {
    margin-bottom: 200px;
}

.gridContainer {
    display: grid;
    gap: 20px;
    height: 100%;


    grid-template-areas:
        "header"
        "nav"
        "content"
        "sidebar"
        "ad"
        "footer";

}

@media (min-width: 500px) {
    .gridContainer {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "sidebar content"
            "ad      footer";
    }

}

// @media (min-width: 700px) {
//     .wrapper {
//         grid-template-columns: 1fr 4fr 1fr;
//         grid-template-areas:
//             "header header  header"
//             "nav    content sidebar"
//             "nav    content ad"
//             "footer footer  footer"
//     }

//     nav ul {
//         flex-direction: column;
//     }
// }


.sidebar {
    position: relative;
    grid-area: sidebar;
    height: 100%;
    overflow: auto;
    top: 5px;

    a {
        margin-top: 20px;
        margin-left: 10px;

    }

    // position: sticky;
}


.content {
    grid-area: content;
    height: 100%;
    overflow: auto;
    margin-top: 10px;
    padding-right: 10px;

    h1{
        margin-top: 0px;
    }

}